SITE_URL=https://michaelhale.xyz
CONTACT_TO_EMAIL=mail@michaelhale.org
CONTACT_FROM_EMAIL=no-reply@michaelhale.xyz
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=example
SMTP_PASS=example
